annotated-types==0.7.0
anyio==4.4.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
betterproto==2.0.0b6
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
contourpy==1.2.1
cycler==0.12.1
datadog-api-client==2.26.0
debugpy @ file:///C:/b/abs_c0y1fjipt2/croot/debugpy_1690906864587/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
dependency-injector==4.41.0
deprecation==2.1.0
dnspython==2.6.1
email_validator==2.2.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fastapi==0.111.0
fastapi-cli==0.0.4
fonttools==4.53.0
grpcio==1.64.1
grpclib==0.4.5
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.16.3
httptools==0.6.1
httpx==0.23.3
hyperframe==6.0.1
idna==3.7
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1719361860083/work
ipykernel @ file:///D:/bld/ipykernel_1719845595208/work
ipython @ file:///D:/bld/ipython_1719582682925/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.4
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1716472197302/work
jupyter_core @ file:///D:/bld/jupyter_core_1710257313664/work
kiwisolver==1.4.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
marshmallow-polyfield==5.11
matplotlib==3.9.0
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
mdurl==0.1.2
multidict==6.0.5
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
numpy==1.26.4
orjson==3.10.6
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow==10.4.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1715777629804/work
plotly==5.22.0
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1718047967974/work
protobuf==4.25.3
psutil @ file:///C:/ci_311_rebuilds/psutil_1679005906571/work
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pydantic==2.8.2
pydantic-settings==2.3.4
pydantic_core==2.20.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
pyparsing==3.1.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-dotenv==1.0.1
python-multipart==0.0.9
pywin32==305.1
PyYAML==6.0.1
pyzmq @ file:///C:/b/abs_89aq69t0up/croot/pyzmq_1705605705281/work
qm-octave==2.1.0
qm-qua==1.2.0
qualang-tools==0.17.6
qualibrate @ file:///C:/Users/ASQUM_2/Downloads/qualibrate-0.1.0.tar.gz#sha256=d495afeb7615c1a8e24c3bf12d1f869aede29186f1dd52ada31056a8623cb6ff
qualibrate-app @ file:///C:/Users/ASQUM_2/AppData/Local/Temp/pip-req-build-janexfa1/qualibrate-wheels/qualibrate_app-0.1.0-py3-none-any.whl#sha256=d971560ab094b9b2af33c1c68b556a2d043c6da9e8b3cab4d4ad8f4619f46032
qualibrate-core @ file:///C:/Users/ASQUM_2/AppData/Local/Temp/pip-req-build-janexfa1/qualibrate-wheels/qualibrate_core-0.1.0-py3-none-any.whl#sha256=db2436c8378c8f664c96fbf93e3520cf12efcff1001dbe91d66246f6ee1324cf
qualibrate-runner @ file:///C:/Users/ASQUM_2/AppData/Local/Temp/pip-req-build-janexfa1/qualibrate-wheels/qualibrate_runner-0.1.0-py3-none-any.whl#sha256=9fbbb307396ee749147cca7ac015ae65c7857ecf167d3638826c7f289eb398a4
quam @ git+https://www.github.com/qua-platform/quam.git@9e51f877206cb58daff1a5fb53b8e552b6f55f3e
quam_components @ file:///C:/Users/ASQUM_2/Documents/GitHub/PYQUM/TEST/BETAsite/QM/OPX1000/qua-libs/Quantum-Control-Applications-QuAM/Superconducting
-e git+https://github.com/asqubit/qua-libs.git@5dac77ef5b93478dbe24711d4265971b6b63bc83#egg=quam_libs&subdirectory=quantum-control-applications-quam\superconducting
requests==2.32.3
rfc3986==1.5.0
rich==13.7.1
scikit-learn==1.5.1
scipy==1.14.0
shellingham==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.1
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.37.2
tenacity==8.4.2
threadpoolctl==3.5.0
tinydb==4.8.0
tomli_w==1.0.0
tornado @ file:///C:/b/abs_7bua0304mj/croot/tornado_1718740122405/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
typeguard==4.3.0
typer==0.12.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
ujson==5.10.0
urllib3==2.2.2
uvicorn==0.29.0
watchfiles==0.22.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
websockets==12.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1718013267051/work
